@use "utils" as u;

.form-cloth {
  &-checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;

    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      background-color: transparent;
      transition-property: border-color background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      border-radius: 2px;
      overflow: hidden;
    }
    &-icon {
      width: 80px;
      height: 60px;
      fill: u.$color-Y2;
      transition: opacity 0.2s ease;
      position: absolute;
    }
    &-icon-2 {
      width: 80px;
      height: 60px;
    }
    &-icon-3 {
      width: 80px;
      height: 60px;
    }
    &-icon-4 {
      width: 80px;
      height: 60px;
    }
    &-icon-5 {
      width: 80px;
      height: 60px;
    }
    &-icon-6 {
      width: 40px;
      height: 40px;
    }

    &-input:checked + .form-cloth-checkbox-button {
      background-color: u.$color-Y4;
    }

    &-input:checked + .form-cloth-checkbox-button .form-cloth-checkbox-icon {
      fill: u.$color-black;
    }
  }
}
