@use "utils" as u;

.nav {
  visibility: hidden;
  display: none;
  position: relative;
  height: 75%;
  @include u.media("tablet-wide") {
    visibility: visible;
    display: flex;
  }
  &-list {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-item {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &-item-icon {
    position: absolute;
    top: 50%;
    right: -3px;
    width: 10px;
    height: 10px;
    fill: u.$color-Y2;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  &-item:not(:last-child) {
    margin-right: 36px;
  }
  &-link {
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    white-space: nowrap;
    &:hover {
      background-color: u.$color-white;
    }
  }
}
#activePopover.hover {
  background-color: u.$color-white;
}
.nav-item-icon.transform {
  transform: rotate(180deg) translate(50%, 50%);
}
