@use "utils" as u;

.popover {
  display: none;
  opacity: 0;
  flex-wrap: wrap;
  padding: 20px;
  background-color: u.$color-white;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 52px;
  left: -36px;
  border-radius: 2px;
  &-inner:not(:last-child) {
    margin-right: 40px;
  }
  &-title {
    font-size: 14px;
    color: u.$color-Y2;
    margin-bottom: 26px;
  }
  &-item {
    margin-bottom: 16px;
  }
  &-link {
    text-decoration: none;
    font-size: 12px;
    color: u.$color-Y2;
    transition: all 0.3s ease;
    &:hover {
      color: u.$color-Y3;
    }
  }
}
.popover.active {
  display: flex;
  opacity: 1;
}
