// COLORS
$color-white: #fff;
$color-black: #000000;
$color-primary: #ffdc55;
$color-Y2: #665822;
$color-Y3: rgb(102 88 34 / 37%);

// FONTS
$primary-font: "Roboto", sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;
